<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="icon" href="/favicon.svg" />
	
        <title>404 Page not found</title>
    </head>
    <body style="margin: 0px; height: 100vh">
		<style>
			html{
				background: #fcfefd;
			}
		</style>

			<img style="display: block;-webkit-user-select: none;margin: auto; height: 100%;"
      src="/404_not_found.jpg">		
	</body>
</html>
